<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.phrasebank</string>
	<key>category</key>
	<string>Language</string>
	<key>connections</key>
	<dict>
		<key>0F6C59AD-B421-4B4A-875F-80555B32E69C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6F85FB8-06A8-4EAB-A4A4-94C40CDA11BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73B01B35-14DF-497A-97BD-CF927F6E19E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C59D9D5-E270-4938-859E-1CB426F6E866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>158B1BB4-20C0-4B33-8BF5-EB73E2550DA6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2F1573B-A697-4E35-A86F-E7DF2813EEA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77559430-B9C7-4DAF-8D9A-D90A208D38A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FA67B5E-6A9F-4416-B0A9-D9E2D7CDC22A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CADE715E-68B8-4AE9-A70B-A77D2584B3AE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB16F746-65FB-418A-9AFB-3016A48C93A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C59D9D5-E270-4938-859E-1CB426F6E866</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FA67B5E-6A9F-4416-B0A9-D9E2D7CDC22A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FA67B5E-6A9F-4416-B0A9-D9E2D7CDC22A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FD9750F-51EA-4B5B-A881-B9297FA29A05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A321CC15-C26E-4013-B083-4830FFB77C57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C59D9D5-E270-4938-859E-1CB426F6E866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>158B1BB4-20C0-4B33-8BF5-EB73E2550DA6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D1D13A68-D504-447A-8487-2AF0C3E4253E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6F85FB8-06A8-4EAB-A4A4-94C40CDA11BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73B01B35-14DF-497A-97BD-CF927F6E19E9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A321CC15-C26E-4013-B083-4830FFB77C57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCF3836D-1020-4079-B421-B3B99867A6E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6F85FB8-06A8-4EAB-A4A4-94C40CDA11BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1D13A68-D504-447A-8487-2AF0C3E4253E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2F1573B-A697-4E35-A86F-E7DF2813EEA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2F1573B-A697-4E35-A86F-E7DF2813EEA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77559430-B9C7-4DAF-8D9A-D90A208D38A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Academic Phrase Inserter</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Phrasebank</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>snippet-triggered-phrase-input.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C59D9D5-E270-4938-859E-1CB426F6E866</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>%%%</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>BCF3836D-1020-4079-B421-B3B99867A6E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:quick_random_insert}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>false</string>
						<key>outputlabel</key>
						<string>random</string>
						<key>uid</key>
						<string>158B1BB4-20C0-4B33-8BF5-EB73E2550DA6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>select</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>73B01B35-14DF-497A-97BD-CF927F6E19E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query} </string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4FD9750F-51EA-4B5B-A881-B9297FA29A05</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>phrase</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>phrasebank-searcher.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select Section...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B6F85FB8-06A8-4EAB-A4A4-94C40CDA11BC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7FA67B5E-6A9F-4416-B0A9-D9E2D7CDC22A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:quick_random_insert}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>random</string>
						<key>uid</key>
						<string>158B1BB4-20C0-4B33-8BF5-EB73E2550DA6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>select</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A321CC15-C26E-4013-B083-4830FFB77C57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>phrasebank-searcher-2.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Phrase...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2F1573B-A697-4E35-A86F-E7DF2813EEA5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>back</string>
						<key>outputlabel</key>
						<string>phrase</string>
						<key>uid</key>
						<string>CADE715E-68B8-4AE9-A70B-A77D2584B3AE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>back</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>77559430-B9C7-4DAF-8D9A-D90A208D38A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>loop-section-selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>0F6C59AD-B421-4B4A-875F-80555B32E69C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>oneSection</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D1D13A68-D504-447A-8487-2AF0C3E4253E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>loop-section-selection</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EB16F746-65FB-418A-9AFB-3016A48C93A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>with data from https://www.ref-n-write.com/trial/how-to-write-a-research-paper-academic-phrasebank-vocabulary/

potentially also incldue data in ther future: http://phrasebank.manchester.ac.uk

---

Thanks to @argentum and @bri.

Created by @pseudometa aka [Chris Grieser](https://chris-grieser.de/).</string>
	<key>uidata</key>
	<dict>
		<key>0F6C59AD-B421-4B4A-875F-80555B32E69C</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>4FD9750F-51EA-4B5B-A881-B9297FA29A05</key>
		<dict>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>73B01B35-14DF-497A-97BD-CF927F6E19E9</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>77559430-B9C7-4DAF-8D9A-D90A208D38A7</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>7C59D9D5-E270-4938-859E-1CB426F6E866</key>
		<dict>
			<key>note</key>
			<string>insert random</string>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>7FA67B5E-6A9F-4416-B0A9-D9E2D7CDC22A</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>A321CC15-C26E-4013-B083-4830FFB77C57</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>B6F85FB8-06A8-4EAB-A4A4-94C40CDA11BC</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>BCF3836D-1020-4079-B421-B3B99867A6E7</key>
		<dict>
			<key>note</key>
			<string>select section, then insert random phrase</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>D1D13A68-D504-447A-8487-2AF0C3E4253E</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>E2F1573B-A697-4E35-A86F-E7DF2813EEA5</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>EB16F746-65FB-418A-9AFB-3016A48C93A3</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>quick_random_insert</key>
		<string>true</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>quick_random_insert</string>
	</array>
	<key>version</key>
	<string>0.5</string>
	<key>webaddress</key>
	<string>https://chris-grieser.de/</string>
</dict>
</plist>
